@font-face {
    font-family: montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --font-principal: montserrat;
}

body{
    background-color: rgb(206, 206, 206);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgb(151, 173, 177);
    border-radius: 8%;
    width: 25rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2% 3% 2% 3%;
    margin-top: 8%;
    box-shadow: 0 0 25px rgb(107, 106, 106);
}

.container__title{
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1.5rem;
}

.container__content{
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
}

.content__style{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.container__data{
    width: 100%;
    background-color: rgb(207, 206, 206);
    padding: 8px 0px 8px 5px;
    border-radius: 5px;
}

.container__paragraph{
    font-family: var(--font-principal);
    font-weight: 500;
}

.inside__text{
    font-family: var(--font-principal);
    font-size: 0.9rem;
}

.content__button{
    display: flex;
    justify-content: space-around;
}

#button{
    width: 7.5rem;
    padding: 0.7rem;
    border-radius: 5px;
    font-family: var(--font-principal);
    font-weight: 700;
    color: white;
    background-color: rgb(12, 189, 115);
}

#button:hover{
    background-color: rgb(6, 119, 72);
    transition: 0.5s;
    cursor: pointer;
}

#resultado{
    text-align: center;
}

.pointer__hover:hover{
    cursor: pointer;
}